/* GENERICS */
body {
    font-family: 'Hanken Grotesk', sans-serif;

}

html {
    scroll-behavior: smooth;
}

button {
    background-color: #0161ff;
    color: white;
    padding: 0.3rem 0.8rem;
    border: .0625rem solid transparent;
}

/* BONUS */

button:hover {
    opacity: 66%;
}

/* BONUS HEADER */

.top-header-left li,
.top-header-right li {
    position: relative;
    display: inline-block;
}

.top-header-left li:after,
.top-header-right li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width .3s;
}

#btn-special:after,
#logo-special:after {
    content: "";
    position: absolute;
    left: 0;
    top: 2.875rem;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width .3s;
}

.top-header-left li:hover:after,
.top-header-right li:hover::after,
#btn-special:hover::after,
#logo-special:hover::after {
    width: 100%;
}

/* FINE BONUS HEADER */

/* BONUS DOMANDE FREQUENTI */

.hovered:hover p {
    display: block;
}

.hovered:hover i {
    transform: rotate(180deg);
}

.freq-ask p {
    display: none;
    margin-bottom: 2rem;
}

/* HEADER */

.top-header {
    min-height: 4rem;
    justify-content: space-between;
    align-items: center;
    color: #303030;
    font-size: 0.8rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;

    /* Debug */
    /* background-color: bisque;
    border: 2px dashed black; */
}

.top-header-left,
.top-header-right {
    gap: 1.5rem;
    padding-right: 1rem;
}

#logo-special>a>img {
    transform: scale(.75);
}

.top-header-left>li,
.top-header-right>li {
    align-self: center;
}


.top-header a {
    color: #070707;
}

.top-header-right>button {
    margin-left: -0.5rem;
}

/* Jumbotron */

.jumbotron {
    background-color: #b4d0e7;
    padding: 5rem 0 1rem 0;


    /* Debug */
    /* height: 34rem; */
}

.jumbotron h1 {
    font-size: 4rem;
    text-align: left;
    font-weight: 900;
    padding: 2.5rem 0;
}


.jumbotron-left {
    flex-direction: column;
    width: 30%;
    gap: 1rem;
    /* Debug */
    /* background-color: red; */
    /* border: 2px dashed black; */
}

.jumbotron-left>span {
    margin-top: auto;
    font-size: 2.5rem;
}

.jumbotron-side {
    justify-content: space-between;
    margin-top: 1rem;
}

.jumbotron-right>img {
    position: relative;
    transform: scale(1.2);
    top: 2.2rem;
}

/* MAIN */

/* section 1 */

.section1 {
    padding-top: 8rem;
}

.section1 h2 {
    padding-bottom: 2.5rem;
}

.row-section1>.col {
    width: 30%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;

    /* Debug */
    /* background-color: rgb(167, 167, 206); */
    /* height: 50rem; */
}

.row-section1 {
    justify-content: space-between;
    margin: 1.5rem 0;
}

.name-plans {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
    margin: 0 -1rem;
}

.plans {
    line-height: 2rem;
}

.specifics>span {
    padding: .5rem 0;
}

.line {
    border-bottom: .0625rem solid lightgrey;
    width: 2.6rem;
}


.points {
    padding-bottom: 2rem;
}

.points>span {
    padding: .5rem 0;
}

.points span i {
    color: #0161ff;
}

.enterprise {
    width: 100%;
    margin: 2.5rem 0 7rem 0;
    border: 1px solid lightgray;

    /* Debug */
    /* height: 15rem; */
    /* background-color: lightblue; */
}

.enterprise-left {
    padding: 1rem;
}

.enterprise-right {
    text-align: end;
    padding: 1.5rem;
}

.enterprise-left>h3 {
    padding: 1rem 0;
}

.enterprise-main-text>span {
    font-weight: 900;
}

.enterprise-main-text {
    padding-bottom: 1rem;
}

.enterprise-side-text {
    padding: 1rem 0;
}


.enterprise-right>button {
    padding: 0.5rem 1.5rem;
}

.address-to {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: .5rem 0;
}

.flex-container-enterprise {
    display: flex;
    justify-content: space-between;
}

.section1 span {
    font-size: .8rem;
    margin-right: .3rem;
}

.littlesquare {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid #d0d0d3;
    margin-right: .2rem;
}

.blue {
    border: 4px solid #0161ff;
}

.plans,
.specifics,
.points {
    display: flex;
    flex-direction: column;
}

.specifics,
.points {
    gap: 1rem;
}

/* Section 2 */

.section2 {
    display: flex;
    margin-bottom: 7rem;
    justify-content: space-between;
}

.section-2-right {
    padding: 1rem 1.5rem;
    margin-left: 1rem;
}

.section-2-right>h3 {
    padding: 2rem 1rem 0rem 0rem;
}

.section-2-right>p {
    font-size: .8em;
    padding: 1rem 0;
}

.section-2-right>button {
    font-size: .8rem;
    margin: 1rem 0;
    border: .0625rem solid black;
    background-color: white;
    color: #303030;
}

/* Section 3 */

.section3 {
    margin-bottom: 2.5rem;
}

.section3>h2 {
    margin-bottom: 3rem;
}

.section3 h3 {
    margin-bottom: 1.5rem;
}

.row-section3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem 0;
}

.row-section3>.col {
    width: 30%;

    /* Debug */
    /* height: 20rem;
    background-color: darkgray; */
}

/* Section 4 */

.section4 {
    padding: 7rem 0;
}

/* Section Partners */

.section-partners {
    display: flex;
    /* Debug */
    /* background-color: burlywood; */
}

.partners-left,
.partners-center,
.partners-right {
    height: calc(100vw / 3);
    width: calc(100vw / 3);

    /* Debug */
    /* border: 2px dashed black; */
}

.partners-left,
.partners-right {
    display: flex;
    flex-wrap: wrap;

}

.section-partners img {
    width: 50%;
    filter: invert(1);
}

.partners-left>.box,
.partners-right>.box {
    height: calc(100vw / 3 / 2);
    width: calc(100vw / 3 / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Debug */
    /* border: 2px dashed black; */
}

.box-small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: #a2d39b;
}


/* LEFT SQUARE */
.partners-left .box-top-left {
    background-color: #d2e9cd;
}

.partners-left .box-top-right {
    background-color: #62092b;
}

.partners-left .box-bottom-left {
    background-color: #0093ce;
}

.partners-left .box-bottom-right {
    background-color: #ff1b1c;
}

/* RIGHT SQUARE */

.partners-right .box-top-left {
    background-color: #d50020;
}

.partners-right .box-top-right {
    background-color: #b4d0e7;
}

.partners-right .box-bottom-left {
    background-color: #0d2481;
}

.partners-right .box-bottom-right {
    background-color: #ffd830;
}

/* CENTER SQUARE */

.partners-center {
    background-color: #f5f5f5;
}

#img-no-invert {
    filter: invert(0);
    margin: 2rem;
}

.partners-center>.line,
.partners-center>p,
.partners-center>span {
    margin: 0 2rem 2rem 2rem
}

/* PARTNERS BOTTOM */

.partners-bottom {
    background-color: #b4d0e7;
    margin-bottom: 2.5rem;
    padding: 6rem;
}

.partners-bottom button {
    font-size: .8rem;
    margin: 1rem 0;
    border: .0625rem solid transparent;
    background-color: white;
    color: #303030;
}

.partners-bottom-right {
    text-align: end;
}

/* Sezione domande frequenti */

.freq-ask {
    margin-bottom: 7rem;
}

.freq-ask>h2 {
    padding: 4rem 0 2rem 0;
}

.lh {
    line-height: 4rem;
}

.ask-flex {
    justify-content: space-between;
    padding: 2rem 2rem 2rem 0;
}

/* FOOTER */
/* Top footer */
footer {
    background-color: black;
    color: white;

    /* Debug */
    /* height: 20rem; */
}

.top-footer>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    width: calc(100% / 5)
}

.top-footer>.row {
    display: flex;
    justify-content: space-between;
}

.top-footer h3 {
    font-weight: 600;
}

.top-footer {
    display: flex;
    padding: 2.5rem 0;
}

/* Bottom footer */

.bottom-footer hr {
    width: 10%;
    margin: 2rem 0;
}

.bottom-footer span {
    display: inline-block;
    padding: 1.5rem 0 3rem 0;
}